<section id="about-me">
    <div class="container">
        <div class="flex-container">
            <img class="img " width="30%" height="40%" class="img-responsive" src="../../assets/pictures/dulceProfile.jpg">
            <p class="text-justify">3 years of experience as Computer Systems Engineer focused on web developer and software developer with a strong interest in projects that require both conceptual and analytical thinking with emphasis on working to improve efficiency, productivity
                and user experience. Always eager to continue acquiring knowledge from all areas of technology development in addition I'm a dancer and an entrepreneur girl. <br><br><strong>"Working hard for something we don´t care about is called stress. Working Hard for something we love is called passion"<br>-Simon
                Sinek</strong>
            </p>
        </div>

    </div>
</section>