<section id="section-projects">
    <div class="container">
        <div id="container-cards">
            <h5 class="card-header" style="width: 18rem;">University Project</h5>
            <div class="flip-container" style="width: 18rem;">
                <div class="flip-card">
                    <div class="flip-card-front">
                        <img src="../../assets/pictures/transportes.PNG" class="card-img-top" alt="TransportesImage">
                        <div class="d-flex justify-content-end" id="arrows">
                            <fa-icon [icon]="faPlusSquare" size="2x"> </fa-icon> &nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-text">This was a school project where the main goal was to do a transport service where the clients can follow the company's logistic.</p>
                        <div class="d-flex align-items-end float-right ">
                            <img src="../../assets/pictures/youtube.png" class="iconimage" width="30em">
                            <img src="../../assets/pictures/silueta-del-logo-de-github-en-un-cuadrado.png" class="iconimage" width="30em">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <a href="https://www.youtube.com/watch?v=h28ifrILG7Q&t=490s&ab_channel=dulcebick" target="_blank">
                            <img src="../../assets/pictures/youtube.png" class="iconimage" width="40em">
                        </a>
                        <a href="https://github.com/DulceBick/Spend2" target="_blank">
                            <img src="../../assets/pictures/silueta-del-logo-de-github-en-un-cuadrado.png" class="iconimage" width="40em">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>