@import 'colors';
h1 {
    color: white;
}

.container {
    display: grid;
    place-items: center;
}

#container-cards {
    display: block;
    flex-direction: row;
}

#section-projects {
    z-index: 1;
    position: relative;
    padding: 5%;
}

.card-img-top {
    height: 280px;
}

.card-text {
    padding: 10px;
    text-align: justify;
}