<section id="section-projects">
    <h1>Projects</h1>
    <div class="container">
        <app-flip-card>
            <flip-card-front>
                <img src="../../assets/pictures/transportes.PNG" class="card-img-top" alt="TransportesImage">
            </flip-card-front>
            <flip-card-back>
                <p class="card-text">This was a school project where the main goal was to do a transport service where the clients can follow the company's logistic.</p>
            </flip-card-back>
        </app-flip-card>
    </div>
</section>