$nav-background:black;
$nav-main-background: transparent;
$nav-font-color:white;
$sweetPink-color: #EB119F;
$nav-font-family:-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$title-font: mrsmonsterrotate2;