@font-face {
    font-family: 'darkforest';
    src: url(../../assets/fonts/darkforest.ttf)
}

@font-face {
    font-family: 'whoaskssatan';
    src: url(../../assets/fonts/whoaskssatan.ttf)
}

@font-face {
    font-family: '1645OldSpanish';
    src: url(../../assets/fonts/1645OldSpanish.ttf)
}