@import "colors";
.nav-color {
    background-color: transparent;
}

.nav-scroll {
    background-color: $nav-background;
}

.nav-color a {
    color: $nav-font-color;
    font-family: $nav-font-family;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
}

.nav-color :hover {
    color: #eb119f;
}

.icon_Text {
    padding-bottom: 20px;
}

.iconNav {
    color: $nav-font-color;
    position: absolute;
    padding-left: 2em;
    padding-top: 10px;
}

.navbar-toggler {
    color: $nav-font-color;
}

.navbar-toggler :hover {
    color: #eb119f;
}

@media (max-width: 985px) {
    .nav-color {
        background-color: #eb119f;
    }
    .nav-color :hover {
        color: $nav-background;
    }
}