<div class="nav-color">
    <div class="iconNav">
        <fa-icon [icon]="iconMenu" size="3x"> </fa-icon>
        <!-- <i class=" fa fa-diamond fa-3x " aria-hidden="true "></i> -->
    </div>
    <nav class="nav justify-content-end mr-5 ">
        <li class="nav-item mr-4">
            <a class="text-sm-center nav-link" (click)="homeButton()" href="# ">Home</a>
        </li>
        <li class="nav-item mr-4">
            <a class=" text-sm-center nav-link" (click)="aboutMeButton()" href="# ">About Me</a>
        </li>
        <li class="nav-item mr-4">
            <a class=" text-sm-center nav-link" href="#" (click)="myProjectsButton()">My projects</a>
        </li>
        <li class="nav-item mr-4">
            <a class=" text-sm-center nav-link" (click)="myBrandButton()" href="# ">My Brand</a>
        </li>
        <li class="nav-item mr-4">
            <a class=" text-sm-center nav-link" (click)="myHobbiesButton()" href="# ">My Hobbies</a>
        </li>

    </nav>
</div>