<div class="container ">
    <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
    <div class="row   justify-content-center">
        <div class="welcome_frame">
            <div class="">
                <h1>Hi, I am Dulce Bick</h1>
            </div>

        </div>
    </div>


    <!-- <iframe src="https://open.spotify.com/embed?uri=spotify:playlist:70NsTyqildtiQBGXw4a8zC" width="460" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->

    <!-- <a class="float-end" href='https://www.freepik.es/fotos/fiesta'>Foto de Fiesta creado por freepik - www.freepik.es</a> -->

    <!-- <a class="float-end" href='https://www.freepik.es/fotos/fiesta'>Foto de Fiesta creado por freepik - www.freepik.es</a> -->

</div>